.timmana-regular {
  font-family: "Timmana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hedvig-letters  {
  font-family: "Hedvig Letters Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.noto-sans {
  font-family: "Noto Sans Pahawh Hmong", sans-serif;
  font-weight: 500;
  font-style: normal;
}


.custom-cursor-pointer {
  cursor: pointer;
}